<%= form_with model: [book, book.reviews.build] do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
      <% @review.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :rating %>
      <%= form.select :rating, [["⭐️", 1], ["⭐️⭐️", 2], ["⭐️⭐️⭐️", 3], ["⭐️⭐️⭐️⭐️", 4], ["⭐️⭐️⭐️⭐️⭐️", 5]] %>
      <% @review.errors.full_messages_for(:rating).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :review %>
      <%= form.text_area :review %>
      <% @review.errors.full_messages_for(:review).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>